<h1>Dashboard</h1>
<hr>
<table class = "table table-bordered">
<h4>Number of <%= link_to 'Products', [:admin, :products] %>: <%= @products %> </h4>
<h4>Number of Product Categories:<%= @categories %> </h4>
</table>